@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    background-color: black;
}

.pic {
    width: 98px;
    height: 22px;
    padding-right: 40px;
    padding-left:20px;
}

.text {
    color: white;
    padding-left: 40px;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    font-weight: 500;
}

nav {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* max-width: 95vw; */
    height: 60px;
    margin: auto;
    top:0;
    z-index: 10;
    position: fixed;
    left:100px;

    width: 90%;
}

.line {
    border-left: 2px solid rgb(113, 113, 113);
    height: 30px;
    margin-left: 30px;


}

.subs {
    width: 30px;
    height: auto;
    padding-left: 30px;
}

.subs1 {
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    color: white;
    padding-left: 2px;
}

.search {
    width: 20px;
    height: auto;
    padding-left: 460px;

}

.en {
    color: white;
    background-color: black;
    font-size: 14px;
    font-weight: 500;
    padding-left: 10px;
    font-family: "PT Sans", sans-serif;

}

.drop {
    width: 30px;
    height: auto;

}

.dot {
    width: 23px;
    height: auto;
    padding-left: 20px;
}

.profile {
    width: 30px;
    height: auto;
    padding-left: 20px;
}

.join {
    display: flex;
    text-align: center;
    align-items: center;
    color: white;
    height: 33px;
    width: 105px;
    background-color: rgb(7, 140, 212);
    justify-content: center;
    margin-left: 20px;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    border-radius: 3px;
    margin-right: 10px;

}

.box1 {
    width: 100%;
    height: auto;
    /* border: 2px solid white; */
    display: flex;
    position: relative;
    justify-content: flex-end;

}

.text_box {
    color: white;
    width: 815px;
    height: 740px;
    /* border:1px solid white; */
    position: absolute;
    left: 0px;
    box-shadow: 45px 60px 55px 60px black;
    display: flex;
    justify-content: flex-start;


}

.bgimg {
    width: 950px;
    height: auto;
}

.welcome {

    font-family: "PT Sans", sans-serif;
    left: 50px;
    top: 60px;
    position: absolute;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 2px;
}

.sentence {
    font-family: "PT Sans", sans-serif;
    left: 56px;
    top: 161px;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1px;
    position: absolute;
}

.join1 {
    width: 380px;
    height: 60px;
    background-color: white;
    color: black;
    position: absolute;
    left: 54px;
    top: 238px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    font-family: sans-serif;
    letter-spacing: 1px;

}

.join2 {
    font-weight: 400;
    font-size: 14px;
    position: absolute;
    color: white;
    left: 173px;
    top: 308px;
}

.join3 {
    width: 380px;
    height: 60px;
    background-color: white;
    color: black;
    position: absolute;
    left: 54px;
    top: 354px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.join4 {
    font-weight: 400;
    font-size: 14px;
    position: absolute;
    color: white;
    left: 173px;
    top: 423px;
}

.join5 {
    width: 380px;
    height: 60px;
    background-color: white;
    color: black;
    position: absolute;
    left: 54px;
    top: 470px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.join6 {
    width: 380px;
    height: 60px;
    background-color: white;
    color: black;
    position: absolute;
    left: 54px;
    top: 550px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    font-family: sans-serif;
    letter-spacing: 1px;
}
.box2{
    width: 100%;
    height: auto;
     /* border: 2px solid white;  */
    display: flex;
    position: relative;
    justify-content: flex-end;
}
.bgimg2{
    width: 1360px;
    height: auto;
}
.textbox2{
    color: white;
    width: 815px;
    height: 740px;
    /* border:1px solid white; */
    position: absolute;
    left: 0px;
        box-shadow: 57px 51px 80px 60px black;
    display: flex;
    justify-content: flex-start;
}
.rental{
    font-family: "PT Sans", sans-serif;
    left: 50px;
    top: 60px;
    position: absolute;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 2px;
}
.join7{
     width: 130px;
    height: 60px;
    background-color: white;
    color: black;
    position: absolute;
    left: 54px;
    top: 238px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    font-family: sans-serif;
    letter-spacing: 1px;

}
.box3{
    margin-top: 70px;
    width: 100%;
    height:auto;
     /* border: 2px solid white;   */
    display: flex;
    position: relative;
    /* justify-content: flex-end; */
}
.textbox3{
    top:0px;
    left:0px;
    width:850px;
    height:600px;
    color:white;
    

}
.images{
width:850px;
    height:660px;
    color:white;
    border:1px white;
    /* border: 1px solid white; */
    display:flex;
}
.sentence1{
    font-family: "PT Sans", sans-serif;
    left: 52px;
    top:220px;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1px;
    position: absolute;
}
.i1{
    position: absolute;
    width:250px;
    height: 175px;
    border-radius: 18px;
    top:70px;
    margin-left: 40px;
}
.i2{
    position: absolute;
    width:250px;
    height: 175px;
    border-radius: 18px;
    top:70px;
    margin-left: 30px;
    right:310px;
}
.i3{
    position: absolute;
    width:250px;
    height: 175px;
    border-radius: 18px;
    top:70px;
    margin-left: 30px;
    right:52px;
}
.i4{
    position: absolute;
    width:250px;
    height: 175px;
    border-radius: 18px;
    top:254px;
    margin-left: 40px;
}
.i5{
    position: absolute;
    width:250px;
    height: 175px;
    border-radius: 18px;
    top:254px;
    margin-left: 30px;
    right:310px;
}
.i6{
    position: absolute;
    width:250px;
    height: 175px;
    border-radius: 18px;
    top:254px;
    margin-left: 30px;
    right:52px;

}
.i7{
     position: absolute;
    width:250px;
    height: 175px;
    border-radius: 18px;
    top:438px;
    margin-left: 40px;
}
.i8{
    position: absolute;
    width:250px;
    height: 175px;
    border-radius: 18px;
    top:438px;
    margin-left: 30px;
    right:310px;
}
.i9{
    position: absolute;
    width:250px;
    height: 175px;
    border-radius: 18px;
    top:438px;
    margin-left: 30px;
    right:52px;

}
footer{
    background-color: rgb(41, 40, 40);
    width: 100vw;
    height:135px;
    display: flex;
    /* align-items: center; */
    justify-content: center;

}
footer img{
    width:100px;
    height: 32px;
    margin-top:20px;
}
